<section class="row framework-menu">
  <div class="framework-tab-headers">
    <span data-target="html5-frameworks">HTML5</span> | 
    <span data-target="compile-to-native-frameworks">Compile to Native</span> | 
    <span data-target="native-frameworks">Native</span>
  </div>
  <div class="col-xs-12">
    <div class="html5-frameworks framework-tab">
      <h2 class="hidden-xs">HTML5</h2>
      {{#each pages}}
        {{#if html5}}
          <a href="{{ ../site.baseurl }}{{ page.destination }}" class="framework">
            <img src="{{ ../site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }} <span> [{{ language }}]</span>
          </a>
        {{/if}}
      {{/each}}
    </div>
    <div class="compile-to-native-frameworks framework-tab hidden">
      <h2 class="hidden-xs">COMPILE TO NATIVE</h2>
      {{#each pages}}
        {{#if compile_to_native}}
          <a href="{{ ../site.baseurl }}{{ page.destination }}" class="framework">
            <img src="{{ ../site.baseurl }}/frameworks/{{ framework }}/{{ framework }}.png"/>{{ title }}<span> [{{ language }}]</span>
          </a>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="col-xs-12 native-frameworks framework-tab hidden">
    <h2 class="hidden-xs">NATIVE</h2>
    {{#each pages}}
      {{#if native}}
          <a href="{{ ../site.baseurl }}{{ page.destination }}" class="framework">
            <img src="{{ ../site.baseurl }}/assets/android.png"/><img src="{{ ../site.baseurl }}/assets/ios.png"/> Android and iOS<span class="hidden-xs"> [Java and Objective-C]</span>
          </a>
      {{/if}}
    {{/each}}
  </div>
</section>
